fastapi==0.116.1
fitz==0.0.1.dev2
langchain==0.3.26
langchain_community==0.3.27
langchain_core==0.3.71
langchain_openai==0.3.28
langchain_unstructured==0.1.6
protobuf==6.31.1
pydantic==2.11.7
pytest==8.4.1
python-dotenv==1.1.1
uvicorn[standard]
google-cloud-secret-manager
google-cloud-storage
google-api-core
PyMuPDF==1.25.1
langchain-text-splitters==0.3.8
faiss-cpu
numpy